<%-include('entete.ejs')%>

  <!-- Modal -->
  <div class="modal fade" id="ModalErrorMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><span style="color: brown;">Erreur Message</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span id="messageErrorSpan"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        function chargement() {
            document.getElementById('ccc').hidden = false
            document.getElementById('wrapper').style = "filter: blur(3px)"
        }
        function chargementClose() {
            document.getElementById('ccc').hidden = true
            document.getElementById('wrapper').style = "filter:none"
        }
        setTimeout(() => {
            sideBar('pageListDemandeQuota', 'pageSVlisteDemandes');
        }, 1000)
        function sideBar(idPage, idLi) {
            $("li").removeClass("active");
            $(`#${idLi}`).addClass('active');
            $(".pageLayout").hide();
            $(`#${idPage}`).show();
            idLi == 'pageSVlisteDemandes' && aZeroDC() & getVenteFlash();
            idLi == 'pageApprouver' && appelTableApprouve();
            idLi == 'recouverementSvc' && vueRecouv();
            idLi == 'nouveauClient' && listeNvClientSV();
            idLi == 'pageArrivage' && verifBloque() & getListeDC() // & getProductsRestore();
            idLi == 'page_Restouree' // && getProductsRestore();
        }
        function loaderOfBox(id, idBlur, isBlur, isOpen) {
            let blur = "filter:none"
            if (isBlur) {
                blur = "filter: blur(2px)"
            }
            document.getElementById(id).hidden = isOpen;
            document.getElementById(idBlur).style = blur
        }
        function _isContains(json, value) {
            let contains = false;
            Object.keys(json).some(key => {
                contains = typeof json[key] === 'object' ?
                    _isContains(json[key], value) : json[key] === value;
                return contains;
            });
            return contains;
        }

      function showModal(message) {
        document.getElementById('messageErrorSpan').innerHTML = message;
        $(document).ready(function() {
          $('#ModalErrorMessage').modal('show');
        });
      }
    </script>
    <%-include('approuver.ejs')%>
        <%-include('listDemandeQuota.ejs')%>
            <%-include('recouverementSvc.ejs')%>
                <%-include('nvClientSV.ejs')%>
                <%-include('restoreProduct.ejs')%>
                    <%-include('xx_arrivage.ejs')%>
                        <%-include('enbas.ejs')%>